body{
 padding: 0;
 margin: 0;
 background-color: wheat;
}
body::-webkit-scrollbar{
  display: none;
  }

.header{
 z-index: 3;
height: 5em;
 width: 100%;
 position: fixed;
 top:0;
 background-color: wheat;
}
.headcontainer{
 display: flex;
 margin: auto;
 width: 70%;
}
.logo{
 flex: 1;
}
.logo img{
 border-radius: 50%;
 width: 8em;
 height: 7.7em;
 margin-left: 2.5em;
 margin-top: 1em;
 box-shadow: 4px 5px 8px;
}
.description{
 flex:1;
}
.description h1{
 margin-left: -7em;
 font-size: 30px;
 text-shadow: 3px 3px 8px #8a2be2;
}

/*Body section*/
.body{
 margin: auto;
 margin-top: 6em;
 width: 85%;
}
.leftsidebar{
 text-align: center;
 padding: 1em 0 0 1em;
 margin: 0;
 height:30em;
 width:18%;
 margin-top: 3em;
 background-image: linear-gradient(white, red, wheat);
 position: fixed ;
 border-radius: 7px;
 }
 .leftsidebar img{
  width: 15em;
  height: 10em;
  border-radius: 10px;
 }
 .leftsidebar h3{
 list-style-type: none;
 font-size: 20px;
 font-weight: bolder;
 font-family: sans-serif;
 padding-top: 0.5em;
 cursor: pointer;
 text-align: left;
}
.leftsidebar h3:hover{
 font-size: 21px;
 color:blue;
}


.rightside{
 width: 78.1%;
 margin-left:21.7% ;
 display: flex;
}
.mainbar{
 flex:1.7;
 margin: 0 6em 0 1em;
 padding: 1em;
 border: 2px solid #696868;
 border-bottom: none;
 background-color: blueviolet;
}
.mainbar h1{
 padding: 0;
 margin: 0;
}
.services{
 color: white;
 font-size: 15px;
}
.services ul li ul li{
 color: black;
}
/*images section*/
.images{
 margin: auto;
 width: 75%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.more_images img{
 width:9em;
 height: 8em;
 margin: 5px;
}
/*right side black bar*/
.rightsidebar{
 flex: 0.3;
 background-color: black;
 height:70rem;
}

.footer{
 margin-top: 2px;
 background-image: linear-gradient(wheat, black);
 color:rgb(255, 255, 255);
 font-weight: bolder;
 font-size: 15px;
 text-align:center;
 clear: both;
 opacity: 0.8;
}
.footer p{
 padding: 0;
 font-family: sans-serif;
 font-weight: lighter;
 margin: 0;
}




/*for smaller screens only*******************/
@media (max-width:768px){
/*Head section*/
body{
 background-color: blueviolet;
}
 .header{
  height: 4em;
   width: 100%;
   position: fixed;
   top:0;

  }
  .headcontainer{
   display: flex;
   margin: auto;
   width: 100%;
   background-color: wheat;
  }
  .logo{
   flex:0.3;
   text-align: center;
  }
  .description{
   flex:1.7;
  }
  .logo img{
   border-radius: 50%;
   width: 4em;
   height: 3.8em;
   margin-right: 0em;
   margin-top: 0.5em;
   box-shadow: 4px 5px 8px;
  }
  .description h1{
   font-size: 25px;
   font-family: sans-serif;
   margin-left: 1em;
   text-shadow: 1px 1px 8px #8a2be2;
  }





 /*body section*/
 .body{
  margin: auto;
  margin-top: 5em;
  width: 99%;
 }
 .rightside{
  margin: auto;
  width: 100%;
 }
 .mainbar{
  width: 100%;
  margin: auto;
  background-color: #8a2be2;
 }
 .rightsidebar{
  position: absolute;
  display: none;
 }
 .leftsidebar{
  position: absolute;
  display:none;
 }

 .footer{
  margin-top: 2px;
  background-image: linear-gradient(blueviolet, black);
  color:rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 15px;
  text-align:center;
  clear: both;
  opacity: 0.6;
 }
 .footer p{
  padding: 0;
  margin: 0;
 }
}


/* Not the smalest screen*/
@media (max-width:514px){
 .images{
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
 }
 .more_images img{
  width:7em;
  height: 6em;
  margin: 4px;
 }
}


/*smalest screen*/
@media (max-width:366px){
 .images{
  margin: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 }
 .more_images img{
  width:5em;
  height: 4em;
  margin: 3px;
 }
}